.contenedor-tarjeta{
  min-width: 30rem;
  max-width: 40rem;
  width: 100%;
  /* height: 37rem; */
  background: var(--secondary);
  background: var(--primary);
  border-radius: .5rem;
  border-radius: .3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 2rem 3rem;
  background: #16161a;
  cursor: pointer;
  border: 0.1rem solid #16161a;
  transition: border 300ms;
  animation: crecer 300ms;
  position: relative;

  border: 0.1rem solid #1b1b1f;
  background: #1b1b1f;
}
.contenedor-tarjeta:hover{
  border: 0.1rem solid var(--secondary);
  border: 0.1rem solid var(--gray2);
}


/* TARJETA CAJA 1 ///////////////////////// */
.tarjeta__caja1{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  /* background: red; */
  width: 100%;
}
.tarjeta__numero{
  font-size: 3rem;
  font-size: 2.6rem;
  font-weight: 500;
  color: var(--black1);
  color: var(--white);

  padding:.8rem;
  /* background: red; */
  background: var(--white);
  border-radius: .5rem;
  border-radius: .3rem;
  color: var(--black1);
}
.tarjeta__favorito{
  border: 0;
  background: none;
  color: var(--tertiary);
  color: var(--white);
  color: var(--primary);
  transition: transform 300ms;
}
.tarjeta__favorito i{
  font-size: 2.5rem;
  font-size: 3rem;
}

.tarjeta__favorito:hover{
  transform: scale(1.3);
}

/* IMAGEN //////////////////////////*/

.tarjeta__imagen{
  /* background-color: green; */
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

.tarjeta__img{
  /* background: crimson; */
  max-height: 18rem;
}



/* TARJETA CAJA 2 /////////////////////*/
.tarjeta__caja2{
  /* background: crimson; */
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
  margin-top: 2rem;
}
.tarjeta__nombre{
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--primary);
  color: var(--white);
}
.tarjeta__nombre::first-letter{
  text-transform: uppercase;
}
.tarjeta__tipos{
  font-size: 1.8rem;
  font-weight: 300;
  /* font-weight: 400; */
  color: var(--white);
  color: var(--gray2);
  font-family: 'Poppins', sans-serif;
}

/* ///////////////////////// */
/* ///////////////////////// */
/* ICONO DRAG */
.icono-drag{
  position: absolute;
  font-size: 3rem;
  color: var(--gray1);
  left: 0.5rem;
  bottom: 0.5rem;
  opacity: 0.5;
  /* background: red; */
  padding: 1.5rem;
}
.icono-drag:hover{
  color: white;
}

.tarjeta-seleccionado{
  background-color: red;
  background: var(--gray2);
}
.tarjeta-invisible{
  opacity: 0;
}
.tarjeta-invisible{
  opacity: 0;
}

.tarjeta-borde-negro{
  border: 0.1rem solid #16161a !important;
}


/* ///////////////////////// */
/* ///////////////////////// */
/* ///////////////////////// */

@media (min-width: 480px) {
  .tarjeta__nombre{
    font-size: 2.8rem;
    font-weight: 600;
  }
  .tarjeta__tipos{
    font-size: 2rem;
    font-weight: 300;
  }

  
  .tarjeta__img{
    max-height: 18rem;
    max-height: 20rem;
  }
}