.caja__error404{
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
}
.caja__error404:after{
  content: '';
  width: 100%;
  height: 100%;
  background: red;
  background: linear-gradient(#16161a, transparent, #16161a);
  position: absolute;
}
.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.caja__contenedor{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
  z-index: 5;
  /* background: red; */
  gap: 5rem;
}



.error404__titulo{
  font-size: 2rem;
  color: var(--gray2);
  color: var(--white);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.601);
}
.error404__parrafo{
  width: 20rem;
  text-align: center;
  color: var(--gray1);
  color: var(--gray2);
  color: white;
  text-shadow: 1px 1px 10px black;
  font-weight: 600;
}


.boton-error{
  transition: 300ms;
}
.boton-error:hover{
  transform: scale(1.2);
}

@media (min-width: 420px) {
  .error404__titulo{
    font-size: 4rem;
    text-align: center;
  }
  .error404__parrafo{
    font-size: 2rem;
  }
}

@media (min-width: 720px) {
  .error404__titulo{
    font-size: 7rem;
    text-align: center;
  }
  .error404__parrafo{
    font-size: 3rem;
    width: max-content;
    margin-top: -2rem;
  }
}