.caja__error404{
  /* background-color: gray; */
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error404__imagen{
  /* background-color: aqua; */
  width: 30rem;
  height: 30rem;
  animation: crecer 300ms;
}
.caja__contenedor{
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
}
.error404__titulo{
  /* background: green; */
  font-size: 2rem;
  color: var(--gray2);
  color: var(--white);
}
.error404__parrafo{
  /* background: violet; */
  width: 20rem;
  text-align: center;
  color: var(--gray1);
  color: var(--gray2);
  /* color: var(--secondary); */
}

@media (min-width: 720px) {
  .error404__imagen{
    width: 35rem;
    height: 35rem;
  }
}