.caja__error404{
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
}
.caja__error404:after{
  content: '';
  width: 100%;
  height: 100%;
  background: #16161a;
  /* background: linear-gradient(#16161a, transparent, #16161a); */
  position: absolute;
}
.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
}

.caja__contenedor{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  z-index: 5;
  /* background: red; */
  gap: 2rem;
  margin: 0 3rem;
  text-align: center;
}



.error404__titulo{
  color: var(--gray2);
  color: var(--white);
  /* text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.601); */

  background: linear-gradient(10deg, #775dfc 20%, rgb(252, 233, 252));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;

  font-size: 3rem;
}
.error404__parrafo{
  width: 20rem;
  text-align: center;
  color: var(--gray1);
  color: var(--gray2);
  text-shadow: 1px 1px 10px black;
  font-weight: 600;
  color: #9db5c3;
  color: white;
}


.boton-error{
  transition: 300ms;
  margin-top: 4rem;
  animation: palpitar .8s infinite alternate;
}
.boton-error:hover{
  transform: scale(1.2);
}

@keyframes palpitar {
  from{
    transform: scale(1);
  }
  to{
    transform: scale(1.1);
  }
}



@media (min-width: 420px) {

  .error404__titulo{
    font-size: 4rem;
    text-align: center;
  }
  .error404__parrafo{
    font-size: 2rem;
    width: 40rem;
  }

  .error404__parrafo{
    margin-bottom: 3rem;
  }

}

@media (min-width: 645px) {
  .error404__parrafo{
    width: 40rem;
  }
}

@media (min-width:980px) {
  .caja__contenedor{
    margin-top: 12rem;
  }
}
@media (min-width: 1100px) {
  .error404__titulo{
    font-size: 7rem;
  }
  .error404__parrafo{
    font-size: 2.5rem;
    width: max-content;
    font-weight: 500;
  }
  .boton-error{
    font-size: 2rem;
  }
}