.caja-pokemon{
  /* background-color: rgb(65, 65, 37); */
  /* background-color: darkblue; */
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;


  
  overflow: hidden;
}

/* CAJA 1 */
.pokemon__caja1{
  /* background: crimson; */
  display: flex;
  padding: 2rem;
  justify-content: space-between;
  width: 100%;
}

.pokemon__caja1 p{
  font-size: 2.5rem;
  padding: 1rem;
  background: white;
  border-radius: .5rem;
  box-shadow: 2px 2px 10px #00000066;
}

.pokemon__caja1 i{
  font-size: 3rem;
  color: var(--primary);
}

/* CAJA DESCRIPICION */
.caja-descripcion{
  /* background-color: green; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 3rem 0 5rem;
  gap: 2rem;
}

.descripcion__nombre{
  font-size: 3.5rem;
  font-weight: 500;
  color: var(--white);
  color: var(--primary);
  color: #775dfc ;

  width: max-content;

  background: linear-gradient(25deg, #775dfc 20%, rgb(252, 233, 252));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.descripcion__tipos{
  font-size: 2rem;
  color: var(--primary);
  color: #d1d1e9;
  margin-bottom: 3rem;
}

.descripcion__biografia{
  color: var(--gray2);
  font-size: 1.8rem;
  margin: 0 2rem;
  color: #b3c3d8 ;
  text-shadow: 1px 1px 5px #000000;
}
.descripcion__nombre::first-letter{
  text-transform: uppercase;
}

@media (min-width:420px) {
  .descripcion__biografia{
    font-size: 2.2rem;
  }
  .descripcion__nombre{
    font-size: 4rem;
  }
}

/* IMAGEN */
.pokemon__img{
  width: 25rem;
  height: 25rem;
  /* background: violet; */
  margin-bottom: 4rem;
}

/* CAJA 2 */

.pokemon__caja2{
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
  gap: 5rem;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.caja2-1{
  /* background-color: red; */
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: 4rem 1rem 0rem; 
}
.pokemon-peso,
.pokemon-altura{
  background: white;
  padding: 1.5rem;
  border-radius: .5rem;
  font-weight: 500;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  box-shadow: 2px 2px 10px #0000008d;
}

.pokemon-peso p,
.pokemon-altura p{
  font-size: 2.5rem;
  font-size: 4rem;
  color: black;
  font-weight: 400;
  font-weight: 500;
  font-weight: 600;
  color: var(--primary);
}

.pokemon-peso span,
.pokemon-altura span{
  font-size: 2.5rem;
  color: black;
  font-weight: 400;
  margin-left: 0.5rem;
}

.poke-titulo{
  margin-top: 0.75rem;
}



.caja2-2{
  /* background: yellow; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  gap: 8rem;
  margin-top: -3rem;
}



.caja2-2 section{
  /* background: violet; */
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  /* max-width: 25rem; */
  justify-content: center;

  margin-bottom: 5rem;
}
.caja2-2 section article{
  background: var(--white);
  padding: 2rem;
  border-radius: .5rem;
  width: 15rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  box-shadow: 2px 2px 10px #0000008d;
}

.caja2-2 section article span:first-child{
  font-size: 2.5rem;
}
.caja2-2 section article span:last-child{
  font-size: 4rem;
  color: var(--primary);
  font-weight: 500;
  font-weight: 600;
}


@media (min-width: 480px) {
  .pokemon-peso,
  .pokemon-altura{
    flex-direction: row;
    /* align-items: flex-end; */
}
}


@media (min-width: 720px) {


  .pokemon__caja1 p{
    font-size: 3.5rem;
  }
  .pokemon__caja1 i{
    font-size: 3.5rem;
  }


  .descripcion__nombre{
    font-size: 5rem;
    font-weight: 600;
  }
  .descripcion__biografia{
    font-size: 2.5rem;
    margin: 0 2rem;
    /* color: white; */
  }


  .pokemon__img{
    /* background: red; */
    width: 45rem;
    height: 45rem;
    margin: 5rem 0;
    margin: -0rem 0 6rem;
    margin: -0rem 0 2rem;
    margin: -0rem 0 1rem;
  }
}

@media (min-width: 920px) {
  .descripcion__biografia{
    max-width: 70rem;
  }
}

.caja-cargando-pokemon{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 85vh;
}

@media (min-width: 1024px) {
  .descripcion__nombre{
    font-size: 7rem;
    font-weight: 600;
  }
}














/* VARIEDADES Y EVOLUCIONES ///////////////////////*/

.contenedor-variaciones,
.contenedor-evoluciones{
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 3rem 0;

}

.caja-bbbb{
  /* background: blue; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.caja-bbbb:first-child .icono-flecha-evolucion{
  /* background: red; */
  display: none;
}

.contenedor-evoluciones .icono-flecha-evolucion{
  font-size: 4rem;
  font-size: 3.5rem;
  color: white;
  transform: rotateZ(90deg);
}

@media (min-width: 720px) {
  .contenedor-variaciones,
  .contenedor-evoluciones{
    flex-direction: row;
  }

  .caja-bbbb{
    flex-direction: row;
  }

  .contenedor-evoluciones .icono-flecha-evolucion{
    transform: rotateZ(0deg);
  }
}



/* SEPARADORES Y SUBTITULOS //////////////////////////////////////////// */
hr{
  /* background-color: red; */
  border: 0;
  border-top: 1px solid #cccce465;
  border-top: 1px solid #cccce429;
  width: 90%;
  margin: 0rem 0 4rem;
}

@media (min-width: 420px) {
  hr{
    margin: 5rem 0;
  }
}

.titulo_seccion{
  font-size: 3rem;
  /* background: green; */
  text-align: center;
  color: var(--secondary);
  text-shadow: 1px 1px 5px #0000006d;
  box-shadow: 1px 1px 5px #242629;
  box-shadow: 1px 1px 5px #1e1f22ba;
  padding: 1rem;

  
  background: #45494f;
  border-radius: .5rem;
  width: max-content;
  padding: 1rem 3rem;
  background: #393c41;
  background: #34373b;
  /* background: #2f3236; */

  font-size: 2.5rem;
  width: 250px;
}
@media (min-width: 420px) {
  .titulo_seccion{
    font-size: 3rem;
  }
}

@media (min-width: 620px) {
  .titulo_seccion{
    font-size: 4rem;
    width: max-content;
  }
}