.caja-busqueda{
  /* background-color: red; */
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  min-height: 85vh;
}

.busqueda__imagen{
  width: 300px;
  animation: crecer 300ms;
}


.busqueda__formulario{
  animation: crecer 300ms;
  /* background: red; */
  display: flex;
}

.busqueda__input{
  border: 0;
  padding: 1rem;
  outline: none;
  border-radius:.5rem 0  0 .5rem ;
  padding: 1.3rem;
  background: var(--white);
  border: 2px solid white;
}

.busqueda__input:focus{
  border: 2px solid var(--secondary);
  border: 2px solid var(--gray2);
}
.busqueda__boton{
  border-radius: 0 .5rem .5rem 0;
  background: var(--primary);
  color: white;
  border: 0;
  padding: 0 2rem;
  transition: transform 300ms;
}

.busqueda__boton:hover{
  transform: scale(1.05);
}


@media (min-width: 480px) {

  .caja-busqueda{
    gap: 4rem;
  }

  .busqueda__imagen{
    width: 350px;
  }

  .busqueda__input{
    padding: 1.5rem;
    font-size: 1.8rem;
    width: 300px;
  }

  .busqueda__boton{
    font-size: 1.8rem;
  }
}




@media (min-width: 768px) {
  .caja-busqueda{
    gap: 6rem;
  }


  .busqueda__imagen{
    width: 500px;
  }

  .busqueda__input{
    width: 400px;
  }
}