.caja-busqueda{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
  /*background: linear-gradient(#16161a , rgba(22, 22, 26, 0.3)), url('https://lh3.googleusercontent.com/Hxrm0FEgRutcRL2mhNnpHdwDLPjlXnGMotdtlzRxwtLXK2hDbhgmA_gDFRkpeYJvrC5xrkB52NM4RQrloB-Ob7IgKTpFzciYkjwTnc36HEu_XSM=rw-e365-w1440'); */
  position: relative;
}

.caja-busqueda:after{
  content: '';
  width: 100%;
  height: 100%;
  background: linear-gradient(#16161a, transparent, #16161a);
  position: absolute;
}

.video-inicio{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: fixed;
}

.busqueda__frase{
  color: white;
  text-align: center;
  margin: 0 4rem;
  text-shadow: 0.2rem 0.2rem 0rem rgba(0, 0, 0, 0.697);
  font-weight: 500;
  font-size: 4.5rem;
  z-index: 2;
  margin-bottom: 3rem;
  font-weight: 600;
  font-size: 5rem;
  font-size: 5.5rem;
  font-size: 6rem;
  /* background: red; */
  position: relative;
}



/* ICONO DE VOLUMEN DE AUDIO */
.caja-de-volumen{
  background: white;
  position: absolute;
  right: -4rem;
  bottom: -1rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 300ms;
}
.caja-de-volumen:hover  i{
  transform: scale(1.2);
}
.caja-de-volumen i{
  width: 3rem;
  height: 3rem;
  font-size: 1.5rem;
  font-size: 1.4rem;
  text-shadow: none;
  color: #16161a;
  transition: 300ms;

  /* padding: 1rem .7rem; */
  background: white;
  border-radius: 50%;
  box-shadow: 0.1rem 0.1rem 0rem rgba(0, 0, 0, 0.697);

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.6rem;

}


/* FORMULARIO */
.busqueda__formulario{
  animation: crecer 300ms;
  display: flex;
  position: relative;
  margin-bottom: 5rem;
  z-index: 2;
}

.busqueda__input{
  border: 0;
  padding: 1rem;
  outline: none;
  border-radius:.5rem 0  0 .5rem ;
  padding: 1.3rem;
  background: var(--white);
  border: 0.2rem solid white;
  width: 21.5rem;
}

.busqueda__input:focus{
  border: 0.2rem solid var(--gray2);
}
.busqueda__boton{
  border-radius: 0 .5rem .5rem 0;
  background: var(--primary);
  color: white;
  border: 0;
  padding: 0 2rem;
  transition: transform 300ms;
}

.busqueda__boton:hover{
  transform: scale(1.2);
  border-radius: .5rem;
}

.busqueda__boton i{
  font-size: 2.2rem;
}

.busqueda__boton:hover i{
  font-size: 2.4rem;
}

@media (min-width: 480px) {

  .caja-busqueda{
    gap: 2rem;
  }

  .busqueda__frase{
    font-size: 7.5rem;
  }

  .caja-de-volumen{
    right: -4rem;
    bottom: -0.5rem;
  }
  .busqueda__imagen{
    width: 35rem;
  }

  .busqueda__input{
    padding: 1.5rem;
    font-size: 1.8rem;
    width: 30rem;
  }

  .busqueda__boton{
    font-size: 1.8rem;
  }
}




@media (min-width: 768px) {

  .busqueda__frase{
    font-size: 10rem;
  }

  .caja-de-volumen{
    right: -4rem;
    bottom: 0rem;
  }

  .busqueda__imagen{
    width: 50rem;
  }

  .busqueda__input{
    width: 40rem;
  }
}

@media (min-width: 1024px) {
  .caja-busqueda{
    gap: 3rem;
  }

  .busqueda__frase{
    font-size: 13rem;
    font-weight: 600;
  }

  .caja-de-volumen{
    right: -5rem;
    bottom: 1rem;
  }
  .caja-de-volumen i{
    font-size: 2rem;
    padding: 2rem;
    font-size: 1.8rem;
  }

}


/* //////////////////////// */
.caja_recomendaciones{
  background: white;
  /* padding: 2rem; */
  /* padding: 1rem; */
  width: 214px;
  border-radius: .5rem;
  position: absolute;
  top: 60px;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  overflow-x: hidden;
  max-height: 224px;
  height: -10px;
}

.caja_recomendaciones::-webkit-scrollbar {
  background: #e4e2ff;
  width: 1.4rem;
  border-radius: 0 .5rem .5rem 0;
}

.caja_recomendaciones::-webkit-scrollbar-thumb {
  background: #8f88fe;
  border-radius: .3rem;
}

.caja_recomendaciones li{
  padding: 1rem 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.065);
  border-right: 1px solid rgba(0, 0, 0, 0.065);
  text-align: center;
}
.caja_recomendaciones li:hover{
  background: #e4e2ff;
}

@media (min-width: 480px) {
  .caja_recomendaciones{
    width: 300px;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .caja_recomendaciones li{
    width: 50%;
  }
}

@media (min-width: 768px) {
  .caja_recomendaciones{
    width: 400px;
  }
}


