.botonIdioma{
  border: 0.2rem solid #333;
  border-radius: .5rem;
  padding: .8rem 2rem;
}
.botonIdioma:hover{
  border: 0.2rem solid rgb(58, 57, 57);
}

.caja-selector-idioma{
  cursor: pointer;
  margin-bottom: 1rem;
  position: relative;
}

.caja-contenedor-idiomas{
  background: white;
  position: absolute;
  bottom: -0.2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem 2.5rem;
  display: none;

  width: 20rem;
  left: calc(50% - 10rem);
  border: none;
}
.caja-contenedor-idiomas:hover{
  border: none;
}

.icono-cerrar-idiomas{
  position: absolute;
  top: 5px;
  right: 7px;
  font-size: 2rem;
  transition: 300ms;
}

.icono-cerrar-idiomas:hover{
  transform: scale(1.2);
}

.contenedor-idioma--activo{
  display: flex;
  animation: crecer 300ms;
}

.caja-contenedor-idiomas .titulo{
  color: black;
  font-weight: 600;
  font-size: 1.8rem;
  margin-bottom: 1rem;
  align-self: flex-start;
}
.caja-selector-idioma .idioma{
  border: 0.2rem solid rgb(200, 200, 200);
  color: black;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 17rem;
  transition: 200ms;
}
.caja-contenedor-idiomas .idioma:hover{
  border: 0.2rem solid rgb(162, 162, 162);
  border: 0.2rem solid var(--primary);
  background: rgb(229, 229, 229);
  background: rgb(227, 225, 255);
}

.imagen-bandera-es{
  width: 3rem;
  height: 2.5rem;
  background-image: url('./assets/españa.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.imagen-bandera-eeuu{
  width: 3rem;
  height: 2.5rem;
  background-image: url('./assets/eeuu.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.imagen-bandera-pt{
  width: 3rem;
  height: 2.5rem;
  background-image: url('./assets/brasil.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}



@media (min-width: 720px) {
  .caja-contenedor-idiomas{
    width: max-content;
    right: -0.2rem;
    left: auto;
  }
}