.footer{
  background-color: var(--secondary);
  padding: 4rem .5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #16161a;
  /* justify-content: space-between; */
  flex-direction: column-reverse;
  gap: 3rem;
  z-index: 100;
}
.imagen-footer{
  display: none;
}
.footer p{
  color: var(--gray1);
  font-family: 'Poppins', sans-serif;
  text-align: center;
}
.footer a {
  font-weight: 600;
  color: white;
  color: var(--gray1);
}
.footer a:hover {
  text-decoration: underline;
}


.footer__redes-contenedor{
  /* border: 0.1rem solid blue; */
  display: flex;
  gap: 1rem;
}

.footer__redes-contenedor i{
  font-size: 3rem;
  font-size: 2.5rem;
  cursor: pointer;
}

@media (min-width: 720px) {
  .footer{
    flex-direction: row;
    justify-content: space-between;
    padding: 4rem 2rem;
  }
}


@media (min-width: 980px) {

  .footer{
    flex-direction: column-reverse;
    align-items: flex-end;
    padding: 6rem 5rem;
    position: relative;
  }

  .imagen-footer{
    display: initial;
    position: absolute;
    top: 0;
    left: 30px;
    height: 130px;
    height: 170px;
    top: calc(50% - 60px);
    top: calc(50% - 100px);
    top: calc(50% - 80px);
    filter: grayscale(100%) contrast(400%);
    opacity: .6;
    opacity: .2;
    opacity: .15;
  }
}