body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*/////////////////////////*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  font-family: 'Anybody', cursive;
}
html {
  font-size: 62.5%; 
}
ul,
ol {
  list-style: none;
}
a{
  text-decoration: none;
  color: black;
}

/* ////////////////////////// */
#root{
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}
.main{
  flex-grow: 1;
  background: #242629;
}

/* COLORES */
:root{
  --primary: #6246ea;
  --secondary: #d1d1e9;
  --white: #fffffe;
  --black1: #010101;
  --black2: #2b2c34;
  --gray1: #72757e;
  --gray2: #94a1b2; 
  /* --gray2: #b3c3d8;  */
  
  --tertiary: #2cb67d;
  /* --tertiary: #e45858; */
}

/* ANIMACIONES */
@keyframes crecer {
  from{
    transform: scale(0);
  }
  to{
    transform: scale(1);
  }
}

/* BOTON PRIMARIO */
.boton-primario{
  border: 0;
  padding: 1.5rem 2rem ;
  border-radius: .5rem;
  background: var(--primary);
  color: white;
  margin-top: 1.5rem;
  font-weight: 500;
  cursor: pointer;
  animation: crecer 300ms;
}
.boton-primario:hover{
  box-shadow: 0px 5px 3px 0px #d1d1e9c9;
  box-shadow: 0px 5px 3px 0px rgba(209, 209, 233, 0.1);
}

