/* CANTIDA DE RESULTADOS */
.inicio__cantidad-resultados{
  color: var(--white);
  color: var(--gray2);
  font-family: 'Poppins', sans-serif;
}
.resultados-numero{
  font-weight: 600;
  font-size: 1.7rem;
  color: #b3c3d8;
}

/* CAJA CONTENEDORA */
.inicio__contenedor{
  /* background: burlywood; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 1rem;
}

@media (min-width: 480px) {
  .inicio__cantidad-resultados{
    padding: 2rem 3rem;
    font-size: 1.9rem;
  }
  .resultados-numero{
    font-size: 2.3rem;
  }
}

@media (min-width: 768px) {
  .inicio__cantidad-resultados{
    padding: 4rem 4rem;
    font-size: 1.9rem;
  }
  .resultados-numero{
    font-size: 2.3rem;
  }

  .inicio__contenedor{
    gap: 2.5rem;
  }

}